{% extends "base.html" %}
{% block title %}About - StageLinks{% endblock %}
{% block content %}
    <h1>About StageLinks</h1><br>

    <h3>What We Do</h3>
    <p>Stagelinks is an open source passion project aimed at fostering connections within the community theater ecosystem.</p>

    <h3>About the Author</h3>
    <p>Stagelinks is developed and maintained by Kaleb Bauerlein, a software developer and theater enthusiast. With a background in both technology and the arts, 
        Kaleb created Stagelinks to bridge the gap between these two worlds and provide a platform to facilitate connections between actors and theater companies.</p>

    <h3>Contact & Support</h3>
    <p>Have a question or need help? Reach out to us at <a href="mailto:support@stagelinks.org" class="text-white">support@stagelinks.org</a></p>
{% endblock %}
