{% extends 'base.html' %}
{% block title %}Edit Show{% endblock %}
{% block content %}
    <h1>Edit Show</h1>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.show_name(class="form-control") }}</p>
        <p>{{ form.month(class="form-select") }}</p>
        <p>{{ form.year(class="form-control") }}</p>
        <p>{{ form.description(class="form-control", rows=3) }}</p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    <a href="{{ url_for('profile', username=current_user.username) }}" class="btn btn-secondary">Cancel</a>
{% endblock %}