{% extends 'base.html' %}
{% block title %}Edit Credit{% endblock %}
{% block content %}
    <h1>Edit Credit</h1>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.show_name(class="form-control") }}</p>
        <p>{{ form.theater_name(class="form-control") }}</p>
        <p>{{ form.role(class="form-control") }}</p>
        <p>{{ form.month(class="form-select") }}</p>
        <p>{{ form.year(class="form-control") }}</p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    <a href="{{ url_for('profile', username=current_user.username) }}" class="btn btn-secondary">Cancel</a>
{% endblock %}