{% extends "base.html" %}
{% block title %}StageLinks{% endblock %}
{% block content %}
<div class="text-center d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh;">
    <h1 style="color: #96e2d8;">StageLinks</h1>
    <p class="lead">Connecting community theater actors and companies in your area.</p>
    {% if current_user.is_authenticated %}
        <p class="lead">
            <a href="{{ url_for('profile', username=current_user.username) }}" 
               class="btn btn-lg btn-light fw-bold border-white bg-white">Go to my Profile</a>
        </p>
    {% else %}
        <p class="lead">
            <a href="{{ url_for('register') }}" 
               class="btn btn-lg btn-light fw-bold border-white bg-white me-2">Sign Up</a>
            <a href="{{ url_for('login') }}" 
               class="btn btn-lg btn-outline-light fw-bold">Login</a>
        </p>
    {% endif %}
</div>
{% endblock %}