{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to StageLinks!!</h1>
    <p>Your one-stop platform for connecting actors and theaters. Whether you're an actor looking for your next role or a theater seeking talented performers, 
        StageLinks is here to help you find the perfect match today!</p>
    <p>Start by <a href="{{url_for('register')}}" class="btn btn-primary">Creating an Account</a> or <a href="{{url_for('login')}}" class="btn btn-primary">Logging In</a>.</p>
{% endblock %}