{% extends "base.html" %}
{% block title %}{{ user.username }} - StageLinks{% endblock %}
{% block content %}

    {% if user.account_type == 'actor' %}
        <h1>{{ user.actor_profile.first_name }} {{ user.actor_profile.last_name }}</h1>
        <p>Actor</p>
        {% if user.actor_profile.city and user.actor_profile.state %}
            <p>{{ user.actor_profile.city }}, {{ user.actor_profile.state }}</p>
        {% endif %}
        {% if user.actor_profile.bio %}
            <p>{{ user.actor_profile.bio }}</p>
        {% endif %}
    {% elif user.account_type == 'company' %}
        <h1>{{ user.company_profile.company_name }}</h1>
        <p>Theater Company</p>
        {% if user.company_profile.city and user.company_profile.state %}
            <p>{{ user.company_profile.city }}, {{ user.company_profile.state }}</p>
        {% endif %}
        {% if user.company_profile.bio %}
            <p>{{ user.company_profile.bio }}</p>
        {% endif %}
        {% if user.company_profile.website %}
            <p><a href="{{ user.company_profile.website }}">Website</a></p>
        {% endif %}
    {% endif %}

    {% if current_user.is_authenticated and current_user.username == user.username %}
        <a href="{{url_for('edit_profile')}}" class="btn btn-primary">Edit Profile</a><br>
    {% endif %}

{% endblock %}